<div class="row mt-3">
    <div class="col-12 text-center mx-auto">
        <ul class="pagination justify-content-center">
            
            
            {%if blogs.has_previous%}
            <li class="page-item"><a class="page-link"  {%if order%} href="?page={{blogs.previous_page_number}}&order={{order}}"
                                                        {%else%} href="?page={{blogs.previous_page_number}}" {%endif%}>{{blogs.previous_page_number}}</a></li>
            {%endif%}
            <li class="page-item active"><a class="page-link" href="#">{{blogs.number}}</a></li>
            {%if blogs.has_next%}
            <li class="page-item "><a class="page-link" {%if order%} href="?page={{blogs.next_page_number}}&order={{order}}"
                                                        {%else%} href="?page={{blogs.next_page_number}}" {%endif%}>{{blogs.next_page_number}}</a></li>
            {%endif%}
            
        </ul>
    </div>
</div>