<div class="row mt-3">
    <div class="col-12 text-center mx-auto">
        <ul class="pagination justify-content-center">
            
            
            {%if products.has_previous%}
            <li class="page-item"><a class="page-link"  {%if category%} href="?page={{products.previous_page_number}}&category={{category}}"
                                                        {%elif order%} href="?page={{products.previous_page_number}}&order={{order}}"
                                                        {%else%} href="?page={{products.previous_page_number}}" {%endif%}>{{products.previous_page_number}}</a></li>
            {%endif%}
            <li class="page-item active"><a class="page-link" href="#">{{products.number}}</a></li>
            {%if products.has_next%}
            <li class="page-item "><a class="page-link" {%if category%} href="?page={{products.next_page_number}}&category={{category}}"
                                                        {%elif order%} href="?page={{products.next_page_number}}&order={{order}}"
                                                        {%else%} href="?page={{products.next_page_number}}" {%endif%}>{{products.next_page_number}}</a></li>
            {%endif%}
            
        </ul>
    </div>
</div>